
    /* Splitters */
    .splitter {
            position: absolute;
            background: rgba(0,0,0,0.1);
            z-index: 100;
            user-select: none;
     /*       background-color: orange;*/
    }
    .splitter.vertical {
        width: 5px;
        top: 0; bottom: 0;
        cursor: ew-resize;
    }
    .splitter.horizontal {
        height: 5px;
        left: 0; right: 0;
        cursor: ns-resize;
    }


    @media (max-width: 600px) {

        /* Los splitters horizontales no tienen sentido en modo móvil */
        .splitter.horizontal {
            display: none;
        }
        
        /* Los splitters verticales no tienen sentido en modo móvil */
        .splitter.vertical {
            display: none;
        }
        

    }    