.inner{border:0px solid red;width:1201px;}
.doku-page{padding-bottom:20px;}

#doku-bar {line-height: 1em;border-bottom: 1px solid #444;border-top: 1px solid #444;padding: 4px 1px 5px 0; margin: 28px 0px 30px -1px;font-size: 24px;}
#doku-bar #cfg-links{/*display:inline-block;*/position:absolute;right:0px;top:5px;}
#doku-bar #cfg-links .btn-cfg{  margin: 0 0 0 0px;padding: 4px 8px;}
#doku-bar #select_area,
#doku-bar #ai_service{padding: 3px 8px;}
#doku-bar #cfg-links .btn-cfg,
#doku-bar #ai_service,
#doku-bar #select_area{/**/ border-radius: 4px; font-size: 12px;   border: 1px solid rgb(118, 118, 118);}
#doku-bar #cfg-links a.btn-cfg:hover,
#doku-bar #ai_service:hover,
#doku-bar #select_area:hover{border-color:blue;color:#ffffff;background-color:#2c67af;}
.avatar{display:inline !important;position:relative;}
#T-DOKU_FILES{/*outline:2px solid black;margin-bottom:8px;*/    margin: -5px auto -5px auto !important;}
#img_preview,
#canvas_container {direction:ltr; width:716px;min-height:669px;overflow-y:auto;}
#canvas_container {display:none;max-height:669px;height:auto;overflow-x:hidden;}
#img_preview {text-align:center;position:relative;display:none;max-height:695px;height:100%;overflow-x:auto;}
#img_preview img {position:absolute;cursor:pointer;} /*  https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
#img_preview img.fit{ margin:auto;max-width:100%;max-height:100%;top:0; left:0; bottom:10px; right:0; }
#img_preview img.full{position: fixed;z-index:20;left: 50%;top: 50%;height: auto;max-width: 100vw;max-height:100vh;
    -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 236px 200px rgb(255 255 255 / 58%); -moz-box-shadow: 0px 0px 236px 200px rgb(255 255 255 / 58%);box-shadow: 0px 0px 236px 200px rgb(255 255 255 / 58%);}

.dokux_box{background-color:white;outline:2px solid black;min-width:400px;/*min-height:300px;*/display:inline-table;vertical-align:top;}
.dokux_box .title-bar{background-color:black;color:white;padding:2px 3px;}
.dokux_box td:first-child{cursor:pointer;}
.dokux-table {display:inline-block;/*width:300px;*/}
.dokux-table tr{}
.dokux-table tr.active {background-color:#dbeaff;}
.dokux-table th{}
.dokux-table th:first-child{}

#dokux_pdf_viewer{position:relative;margin-left:6px;width:716px;height:715px;}

#dokux_inbox {width:474px;height:715px;position:relative;}
#dokux_inbox table {overflow-y:auto;overflow-x:hidden;position:absolute;left:0px;top:25px;right:0px;bottom:0px;display:inline-block;margin-bottom: 0 !important;}
#dokux_inbox table tr{width:474px;}
#dokux_inbox table tr td{ position: relative;}
#dokux_inbox table th{height:0px;font-size:0px;padding:0;height:0px;padding:0;}
#dokux_inbox table th:first-child{width:100%;}
#dokux_inbox .file_note_add {color:#075ba0;font-size:1.2em;cursor:pointer;}
#dokux_inbox .file_add {color:#00c800;font-size:1.2em;cursor:pointer;}
#dokux_inbox .file_add_no {color:#e1e4e0;font-size:1.2em;cursor:pointer;}
#dokux_inbox .file_delete {color:#e61e64;font-size:1.2em;cursor:pointer;}

#dokux_inbox .file_ocr {color:silver;border:1px dashed silver;font-size:0.8em;padding:1px 2px;cursor:pointer;}
#dokux_inbox .file_ocr_1 {color:#3585e6;border:1px dashed #3585e6;}
#dokux_inbox .file_ai {color:silver;border:1px dashed silver;font-size:0.8em;padding:1px 2px;cursor:pointer;}
#dokux_inbox .file_ai_1 {color:#3585e6;border:1px dashed #3585e6;}

.file_ocr_help {color:gray;border:1px dashed silver;font-size:0.8em;padding:1px 2px;}
#dokux_inbox .file_row{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 340px; max-width: 340px;}

.button-bar {background-color:#eaeaea;padding:2px;text-align:center;border-top:1px solid #cecece;display:none;}
.button-bar span{font-size:0.8em;}

#dokux_cfg-pdf_text,
#dokux_cfg-servicios,
#dokux_cfg-filetypes,
#dokux_cfg-users{display:none;position:absolute;/*max-width:400px;*/background-color: #fffdfcf0;}
#dokux_cfg-filetypes{top:90px;left:60px;min-width:800px;}
#dokux_cfg-servicios{top:130px;left:110px;}
#dokux_cfg-users{top:115px;left:85px;height:500px;width:400px;}
#dokux_cfg-users .title-bar {  margin-bottom: 3px;}
#dokux_files{   /*background-color: #e2dedc;*/}
#dokux_cfg-pdf_text{top:100px;left:100px;background-color:#fcfcfc;}
#dokux_cfg-pdf_text p{margin:20px;}
#dokux_cfg-pdf_text #pdf-text{ overflow: scroll; width:600px;height: 700px;padding:5px;}

pre{white-space: pre-line;}

.dokux_box .close-box{/*position:absolute;top:3px;right:3px;color:white;cursor:pointer;*/}
.dokux_box #users-reload{/*position:absolute;top:3px;right:30px;color:white;cursor:pointer;*/}

.shadow{-webkit-box-shadow: 0px 1px 11px -3px rgba(0,0,0,0.55);-moz-box-shadow: 0px 1px 11px -3px rgba(0,0,0,0.55);box-shadow: 0px 1px 11px -3px rgba(0,0,0,0.55);}


#dokux_cfg-servicios .dokux-table,
#dokux_cfg-users .dokux-table{width: auto; border: 1px solid #666;margin: 4px 7px 0 6px;}
#user-add{position:absolute;left:0px;right:0px;bottom:0px;}

#dokux_upload{display:none;position:absolute;top:230px;left:170px;/*height:500px;width:400px;*/}
#dokux_upload p{padding:20px;}

tr.incomplete td{background-color:#ffeaea !important;}
tr.incomplete.active td{background-color:#ff4646 !important;color:white !important;}

.rotate {position: absolute;top: 20%;left: 20%;margin:-1px 0 0 -1px;-webkit-animation:spin 4s linear infinite;-moz-animation:spin 4s linear infinite;animation:spin 4s linear infinite;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }} 

#full-view{/*float:right;*/cursor:pointer;float:right;margin:2px 5px;}
option {
    font-size:14px;
}

#dialog-info{background-color:#fff !important;color:#0c2e3f !important;border:1px solid #595959;top:40px !important;left:20px !important;right:20px !important;
-webkit-box-shadow: -6px 10px 84px 28px rgba(102,100,102,0.3);-moz-box-shadow: -6px 10px 84px 28px rgba(102,100,102,0.3);box-shadow: -6px 10px 84px 28px rgba(102,100,102,0.3);
-webkit-transition: all .4s ease-in-out;-moz-transition: all .4s ease-in-out; }

#sys{display:inline-block;/**/margin-left:40px;/*color:#ff8c92;*/vertical-align:top;margin-top:0px;}
#sys span{font-size:0.75em;}
progress {vertical-align:top;
	display:inline-table;
	
	height:16px;
	padding:0 0 0 0;
	margin:0;
	background:none;
	border: 0;
	border-radius: 1px;
    overflow:hidden;
	text-align: left;
	position:relative;
	/*font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;*/
    color:#e6e6e6;
}
progress::-webkit-progress-bar {
	height:16px;
	margin:0 auto;
	background-color: #7e7e7e;
	border-radius: 0px;
	/*box-shadow:0px 0px 6px #777 inset;*/
}
progress::-webkit-progress-value {
	display:inline-block;
	float:left;
	height:16px;
	margin:0px 0px 0 0px;
	background: #ff0f4b;
	border-radius: 0px;
	/*box-shadow:0px 0px 6px #777 inset;*/
}
progress:after {
	margin:-15px 0 0 19px;
    font-size:0.8em;
	padding:0;
	display:inline-block;
	float:left;
	content: attr(label) ' ' attr(value) '%';
    color:#e6e6e6;
}
progress:after b{color:white;}
progress#progress_cpu,
progress#progress_cpu::-webkit-progress-bar{width:80px;    color:#e6e6e6;
}
progress#progress_mem,
progress#progress_mem::-webkit-progress-bar{width:200px;    color:#e6e6e6;
}

#img_preview #thumbs{margin:2px 10px;}
.cover{display:inline-table;position:relative;width:100px;height:100px;margin:5px;border:3px solid black;text-align:center;vertical-align:top;}
.cover img{border:1px solid #dedede;margin:0;position:relative !important;}
.cover .dim{font-size:0.75em;}
.cover.norl{opacity:0.2;}

#cursor{border-radius: 20px;opacity: 0.7;}