.READ{color:var(--green);}
.WRITE{color:var(--blue);}
.DELETE{color:var(--pink);}
.FAIL{color:var(--danger);}
.READ,
.WRITE,
.DELETE,
.FAIL{display:block;}

.extfw_ware_box#dialog-file-json{display:none;position:fixed;z-index:11;min-height:300px;min-width:90%;top:55px;left:15px;right:15px;bottom:15px;background-color:#fcfcfc;}
.extfw_ware_box#dialog-file-json p{margin:20px;}                                       
.extfw_ware_box#dialog-file-json #dialog-file-text{ overflow: auto; position:absolute; top:22px;left:0px;right:0px;bottom:0px;border:0px solid red;padding:10px;}
